.password-container {
    width: 90vw;
    background-color: #24232b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}

.password-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

  .icon-button {
    background: none;
    border: none; 
    color: white; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  img {
    filter: invert(97%) sepia(68%) saturate(894%) hue-rotate(52deg) brightness(112%) contrast(102%);
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    transition: all 0.5s ease-out;
  }

  img:hover {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
  }

  h1 {
    font-size: 18px;
    color: #525159;
  }


  @media only screen and (min-width: 768px) {


    .password-container {
      width: 30vw;
    }

    h1 {
      font-size: 22px;
      color: #525159;
    }

  }
